.nav {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 400px;
  flex-shrink: 0;
  background-color: var(--color-navy-50);
  border: 1px solid var(--color-navy-30);
  border-radius: 8px;
  margin-top: 4.5rem;
  overflow: hidden;
}
.userInfo {
  padding: 2rem;
  flex: 1;
}

.userName {
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
}

.stadiumWinning {
  color: var(--color-lightblue);
  font-weight: 500;
}

.homeWinning {
  color: var(--color-pink-50);
  font-weight: 500;
}

.links {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.link {
  color: var(--color-gray-10);
  text-decoration-line: none;
  padding: 1rem 2rem;
  border-top: 1px solid var(--color-navy-30);
  transition: all 0.2s ease;
}

.active {
  background-color: var(--color-navy-40);
  color: var(--color-lightblue);
  font-weight: 600;
}

@media (hover: hover) {
  .link:hover {
    background-color: var(--color-navy-40);
    color: white;
    padding-left: 1.5rem;
  }
}

@media (max-width: 1024px) {
  .nav {
    margin-top: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
    border: none;
    flex: none;
  }

  .userInfo {
    padding: 0;
    border-bottom: 1px solid var(--color-gray-10);
    padding-bottom: 1rem;
  }

  .links {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: none;
  }

  .link {
    border-top: none;
    padding: 0;
  }

  .active {
    background-color: transparent;
    color: var(--color-pink-30);
    font-weight: 600;
  }
}
