@media (max-width: 1024px) {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .card {
    color: var(--color-white);
    width: 100%;
    border: 2px solid var(--color-gray-70);
    border-radius: 12px;
    background-color: var(--color-navy-90);
  }

  .wishCard {
    border: 3px solid rgba(var(--color-pink-40-rgb), 0.6);
    background: linear-gradient(
      180deg,
      rgba(var(--color-pink-40-rgb), 0.06),
      rgba(var(--color-pink-40-rgb), 0.02)
    );
  }

  .cardHeader {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    border-bottom: 2px solid var(--color-gray-70);
  }

  .dateInfo {
    display: flex;
    gap: 0.2rem;
    letter-spacing: 0.1rem;
  }

  .fullHeart {
    color: var(--color-pink-40);
  }

  .teamInfo {
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: space-around;
    align-items: center;
  }

  .leftTeam,
  .rightTeam {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .leftTeam img,
  .rightTeam img {
    width: 3rem;
  }

  .teamName {
    width: 2rem;
  }

  .score {
    font-weight: 600;
  }

  .doosanScore {
    color: var(--color-lightblue);
  }
}
