button {
  background: none;
  border: none;
  padding: 0;
  color: var(--color-white);
}

.schedule {
  /* width: var(--container-width); */
  min-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: var(--color-navy-60);
}

.header {
  /* height: var(--top-height); */
  color: var(--color-white);
  display: flex;
  align-items: center;
  font-size: var(--top-title-font-size);
  justify-content: center;
  gap: 3rem;
}

.arrowBtn:hover {
  cursor: pointer;
}

.heart {
  color: var(--color-pink-30);
}

.accent {
  font-weight: 600;
}

.calendar {
  width: 100%;
}

.notice {
  color: var(--color-navy-10);
  margin-bottom: 12px;
}

@media (max-width: 1024px) {
  .schedule {
    width: 100%;
    min-width: 0;
  }
}
