button {
  background: none;
  border: none;
  padding: 0;
  color: var(--color-white);
}

.schedule {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-navy-60);
  padding: var(--page-padding);
}

.header {
  height: var(--top-height);
  color: var(--color-white);
  display: flex;
  align-items: center;
}

.arrowBtn:hover {
  cursor: pointer;
}
