button {
  background: none;
  border: none;
  padding: 0;
  color: var(--color-white);
}

.schedule {
  width: var(--container-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: var(--color-navy-60);
}

.header {
  height: var(--top-height);
  color: var(--color-white);
  display: flex;
  align-items: center;
}

.arrowBtn:hover {
  cursor: pointer;
}

.mobileCalendar {
  display: none;
}

@media (max-width: 1024px) {
  .schedule {
    width: 100%;
  }
}
