.page {
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  height: var(--top-height);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
