.page {
  width: 100%;
  min-width: 1280px;
}

.myRecord {
  display: flex;
  gap: 40px;
  background-color: var(--color-navy-60);
  min-height: 100vh;
  /* width: var(--container-width); */
  margin: 0 auto;
  flex-shrink: 0;
  justify-content: center;
}

.content {
  width: 900px;
  flex-shrink: 0;
}

@media (max-width: 1024px) {
  .page {
    min-width: 0;
  }

  .content {
    width: 100%;
  }

  .myRecord {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}
