.page {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--page-padding);
}

.myRecord {
  display: flex;
  gap: 40px;
  background-color: var(--color-navy-60);
  min-height: 100vh;
  width: 100%;
  max-width: 1600px;
}
