.ticketsContainer {
  width: 100%;
  /* padding: var(--container-padding); */
  min-width: var(--container-min-width);
  color: var(--color-white);
}

.emptyMessage {
  height: var(--top-height);
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.ticketsTop {
  height: var(--top-height);
  margin-bottom: var(--top-margin-bottom);
  display: flex;
  align-items: center;
}

.ticketsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.title {
  font-size: var(--top-title-font-size);
  font-weight: var(top-title-font-height);
}

.ticket {
  width: 100%;
  min-width: 0;
  height: 200px;
  display: flex;
  align-items: center;
  border-radius: 32px;
  padding: 24px;
  box-sizing: border-box;
  margin: 4px;
  background: var(--color-white);
}

.character {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character img {
  width: 90%;
  height: auto;
}

.content {
  height: 100%;
  flex: 2;
  background-color: var(--color-navy-70);
  border-radius: 28px;
  padding: 0 8px;
  color: var(--color-white);
}

@media (max-width: 1024px) {
  .ticketsContainer {
    width: 100%;
    min-width: 0;
  }

  .ticketsList {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .ticket {
    width: 100%;
    min-width: 0;
    height: auto;
    flex-direction: column;
  }

  .character {
    flex: none;
  }

  .character img {
    width: 100px;
    height: auto;
  }

  .content {
    flex: none;
    height: 200px;
    width: 100%;
  }
}
