.ticketsContainer {
  width: 100%;
  /* padding: var(--container-padding); */
  min-width: var(--container-min-width);
  color: var(--color-white);
}

.emptyMessage {
  height: var(--top-height);
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--color-navy-10);
}

.ticketsTop {
  height: var(--top-height);
  margin-bottom: var(--top-margin-bottom);
  display: flex;
  align-items: center;
}

.filterArea {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.filterCustom {
  margin: 0;
  padding: 0;
  background: none;
}

.notice {
  color: var(--color-navy-10);
  font-size: 0.8rem;
}

.ticketsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 1024px) {
  .filterArea {
    flex-direction: column;
    align-items: flex-start;
  }

  .ticketsContainer {
    width: 100%;
    min-width: 0;
  }

  .ticketsList {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
