.ticketsContainer {
  width: 100%;
  /* padding: var(--container-padding); */
  min-width: var(--container-min-width);
  color: var(--color-white);
}

.emptyMessage {
  height: var(--top-height);
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.ticketsTop {
  height: var(--top-height);
  margin-bottom: var(--top-margin-bottom);
  display: flex;
  align-items: center;
}

.title {
  font-size: var(--top-title-font-size);
  font-weight: var(--top-title-font-height);
}

.ticketsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 1024px) {
  .ticketsContainer {
    width: 100%;
    min-width: 0;
  }

  .ticketsList {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
